<h1 align="center">HOME</h1>
<p id="notice"><%= notice %></p>
<div align="right">
  <%= button_to 'Login', '/login', :method => :get %>
</div>
<div align="right">
  <%= button_to 'Sigup', '/users/new', :method => :get %>
</div>